@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <form action="/new-city" method="post">
            <div class="form-group">
                <label for="name">Enter A Name</label>
                <input type="text" id="name" name="name" />
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>
