@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <form action="/new-flight" method="post">
            <div class="form-group">
                <label for="number">Enter A Flight Number</label>
                <input type="number" id="number" name="number" required />
            </div>
            <div class="form-group">
                <label for="city">Select City:</label>
                <select name="city" required>
                    @foreach(var city in Model)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="time">Enter A Departure Time</label>
                <input type="time" id="time" name="time" required />
            </div>
            <div class="form-group">
                <label for="arrival_departure">Select Flight Type</label>
                <select name="arrival_departure" required>
                    <option value="Arrival">Arrival</option>
                    <option value="Departure">Departure</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Select Flight Status</label>
                <select name="status" required>
                    <option value="On-Time">On Time</option>
                    <option value="Delayed">Delayed</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </form>
    </div>
</div>