@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Flights</h1>
        </div>
        <a href="/new-flight" class="btn btn-primary">Add New Flight</a>
        <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Current Flights</h3>
        @{
            foreach (var flight in Model)
            {
                <h4><a href="/flight/@flight.Id/details">@flight.Name</a></h4>
                <a href="/flight/@flight.Id/update" class="btn btn-primary">Edit</a>
                <a href="/flight/@flight.Id/delete" class="btn btn-danger">Delete</a>
                <hr />
            }
        }
    </div>
</div>
