@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Flight Tracker</h1>
            <p>Track Flights!</p>
        </div>
        <h3>What would you like to do?</h3>
        <a href="/new-flight" class="btn btn-primary">Add New Flight</a>
        <a href="/new-city" class="btn btn-primary">Add New City</a>
        <a href="/view-flights" class="btn btn-primary">View All Flights</a>
        <a href="/view-cities" class="btn btn-primary">View All Cities</a>
    </div>
</div>